<!DOCTYPE html>
<html>
<head>
    <title>Fitt</title>
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        {% if user.is_authenticated %}
            <a href = "{% url 'day_list' %}">Days</a>
            <a href = "{% url 'workout_list' %}">Workouts</a>
            <a href = "{% url 'meal_list' %}">Meals</a>
            <a href = "{% url 'logout' %}">Log Out</a>
        {% else %}
            <a href="{% url 'login' %}">Log In</a>
        {% endif %}
    </nav>
    <hr>

    {% block content %}
    {% endblock %}
</body>
</html>